<a href="https://colab.research.google.com/github/2303a51836/23CSBTB27-28/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
list={1,5,2,6,7}
listl=[3,6,1,8]
print(list)
print(listl)
print(type(list))
print(type(listl))

{1, 2, 5, 6, 7}
[3, 6, 1, 8]
<class 'set'>
<class 'list'>

In [2]:
List1 = ["Geeks", "For", "Geeks"]
List2 = "my first lab"
List3 = 4.3
List4 = 2j+6
List5 = 'My First Lab'
print(type(List2))
print(type(List3))
print(type(List4))
print(type(List5))
print("\nList Items:  ")
print(List1)
print(type(List1))
print(List1[0])
print(List1[2])

<class 'str'>
<class 'float'>
<class 'complex'>
<class 'str'>

List Items:
['Geeks', 'For', 'Geeks']
<class 'list'>
Geeks
Geeks

In [3]:

List ={1:"greek1",2:'Geeks', 'For':3,'Geeks':6}
print("\nList with the use of Mixed Values: ")
print(List)
print(type(List))

List with the use of Mixed Values:
{1: 'greek1', 2: 'Geeks', 'For': 3, 'Geeks': 6}
<class 'dict'>